<div class="mainContainer">
  <p class="title">Template Driven Forms</p>
  <form (ngSubmit)="onSubmit()" #profileForm="ngForm" novalidate>
    <div class="fields">
      <div class="fieldsIcon">
        <span class="material-symbols-outlined"> account_circle </span>
      </div>
      <input
        placeholder="First Name"
        type="text"
        name="firstName"
        #firstName="ngModel"
        class="form-control"
        [(ngModel)]="data.firstName"
        required
      />
      <div
        class="errorMessage"
        *ngIf="
          firstName.errors?.['required'] &&
          (profileForm.submitted || firstName.touched)
        "
      >
        <span class="material-symbols-outlined errorIcon"> warning </span>
        {{ invalidFirstName }}
      </div>
    </div>

    <div class="fields">
      <div class="fieldsIcon">
        <span class="material-symbols-outlined"> account_circle </span>
      </div>
      <input
        id="lastName"
        placeholder="Last Name"
        type="text"
        name="lastName"
        #lastName="ngModel"
        [(ngModel)]="data.lastName"
        class="form-control"
        required
      />
      <div
        class="errorMessage"
        *ngIf="
        lastName.errors?.['required'] &&
        (profileForm.submitted || lastName.touched)
        "
      >
        <span class="material-symbols-outlined errorIcon"> warning </span>
        {{ invalidLastName }}
      </div>
    </div>

    <div class="fields">
      <div class="fieldsIcon">
        <span class="material-symbols-outlined"> mail </span>
      </div>
      <input
        id="email"
        placeholder="Email"
        type="email"
        name="email"
        #email="ngModel"
        [(ngModel)]="data.email"
        class="form-control"
        required
        email
      />
      <div
        class="errorMessage"
        *ngIf="
        (email.errors?.['required'] || email.errors?.['email']) &&
        (profileForm.submitted || email.touched)
        "
      >
        <span class="material-symbols-outlined errorIcon"> warning </span>
        {{ invalidEmail }}
      </div>
    </div>

    <div class="fields">
      <div class="fieldsIcon">
        <span class="material-symbols-outlined"> key </span>
      </div>
      <input
        id="password"
        placeholder="Password"
        type="password"
        name="password"
        #password="ngModel"
        [(ngModel)]="data.password"
        class="form-control"
        minlength="8"
        required
      />
      <div
        class="errorMessage"
        *ngIf="
        (password.errors?.['required'] || password.errors?.['minlength']) &&
        (profileForm.submitted || password.touched)
        "
      >
        <span class="material-symbols-outlined errorIcon"> warning </span>
        {{ invalidPassword }}
      </div>
    </div>

    <div class="button">
      <button
        type="submit"
        [disabled]="!profileForm.valid"
        [ngClass]="{ disabled: !profileForm.valid }"
      >
        <span class="material-symbols-outlined signIn"> login </span>Sign In
      </button>
    </div>
  </form>
  <div *ngIf="this.submitted">
    <p>First Name : {{ data.firstName }}</p>
    <p>Last Name : {{ data.lastName }}</p>
    <p>email : {{ data.email }}</p>
  </div>
</div>
