Reactive Forms
<div class="mainContainer">
  <div>
    <p>Using Form Control and Form Group</p>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
      <div class="fields">
        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName" />
      </div>

      <div class="fields">
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName" />
      </div>

      <div class="fields">
        <label for="email">Email: </label>
        <input id="email" type="email" formControlName="email" />
      </div>

      <div class="fields">
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password" />
      </div>

      <div class="button">
        <button type="submit">Submit</button>
      </div>
    </form>
    <div *ngIf="profileFormData?.firstName">
      <p>
        First Name : {{profileFormData.firstName}}
      </p>
      <p>
        Last Name : {{profileFormData.lastName}}
      </p>
      <p>
        email : {{profileFormData.email}}
      </p>
      
    </div>
  </div>

  <div>
    <p>Using Form Builder with validation</p>
    <form
      [formGroup]="profileBuilder"
      (ngSubmit)="onSubmitProfileBuilder(profileBuilder)"
    >
      <div class="fields">
        <label for="first-name-builder">First Name: </label>
        <input
          id="first-name-builder"
          type="text"
          formControlName="firstName"
        />
        <div
          *ngIf="
            profileBuilder?.get('firstName')?.invalid &&
            (profileBuilder?.get('firstName')?.dirty ||
              profileBuilder?.get('firstName')?.touched)
          "
        >
          Please provide first name.
        </div>
      </div>

      <div class="fields">
        <label for="last-name-builder">Last Name: </label>
        <input id="last-name-builder" type="text" formControlName="lastName" />
        <div
          *ngIf="
            profileBuilder?.get('lastName')?.invalid &&
            (profileBuilder?.get('lastName')?.dirty ||
              profileBuilder?.get('lastName')?.touched)
          "
        >
          Please provide last name.
        </div>
      </div>

      <div class="fields">
        <label for="email-builder">Email: </label>
        <input id="email-builder" type="email" formControlName="email" />
        <div
          *ngIf="
            profileBuilder?.get('email')?.invalid &&
            (profileBuilder?.get('email')?.dirty ||
              profileBuilder?.get('email')?.touched)
          "
        >
          Please provide email.
        </div>
      </div>

      <div class="fields">
        <label for="password-builder">Password: </label>
        <input
          id="password-builder"
          type="password"
          formControlName="password"
        />
        <div
          *ngIf="
            profileBuilder?.get('password')?.invalid &&
            (profileBuilder?.get('password')?.dirty ||
              profileBuilder?.get('password')?.touched)
          "
        >
          Please provide password.
        </div>
      </div>

      <div class="button">
        <button type="submit" [disabled]="!profileBuilder.valid" [ngClass]="{'disabled' : !profileBuilder.valid}">Submit</button>
      </div>
    </form>
    <div *ngIf="profileBuilderData?.firstName">
      <p>
        First Name : {{profileBuilderData.firstName}}
      </p>
      <p>
        Last Name : {{profileBuilderData.lastName}}
      </p>
      <p>
        email : {{profileBuilderData.email}}
      </p>
      
    </div>
  </div>
</div>
