<div class="mainContainer">
  <p class="title">Reactive Forms</p>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
    <div class="fields">
      <div class="fieldsIcon">
        <span class="material-symbols-outlined"> account_circle </span>
      </div>
      <input
        id="first-name-builder"
        placeholder="First Name"
        type="text"
        formControlName="firstName"
      />
      <div
        class="errorMessage"
        *ngIf="
          profileForm?.get('firstName')?.invalid &&
          (profileForm?.get('firstName')?.dirty ||
            profileForm?.get('firstName')?.touched)
        "
      >
        <span class="material-symbols-outlined errorIcon"> warning </span>
        {{ invalidFirstName }}
      </div>
    </div>

    <div class="fields">
      <div class="fieldsIcon">
        <span class="material-symbols-outlined"> account_circle </span>
      </div>
      <input
        id="last-name-builder"
        placeholder="Last Name"
        type="text"
        formControlName="lastName"
      />
      <div
        class="errorMessage"
        *ngIf="
          profileForm?.get('lastName')?.invalid &&
          (profileForm?.get('lastName')?.dirty ||
            profileForm?.get('lastName')?.touched)
        "
      >
        <span class="material-symbols-outlined errorIcon"> warning </span>
        {{ invalidLastName }}
      </div>
    </div>

    <div class="fields">
      <div class="fieldsIcon">
        <span class="material-symbols-outlined"> mail </span>
      </div>
      <input
        id="email-builder"
        placeholder="Email"
        type="email"
        formControlName="email"
      />
      <div
        class="errorMessage"
        *ngIf="
          profileForm?.get('email')?.invalid &&
          (profileForm?.get('email')?.dirty ||
            profileForm?.get('email')?.touched)
        "
      >
        <span class="material-symbols-outlined errorIcon"> warning </span>
        {{ invalidEmail }}
      </div>
    </div>

    <div class="fields">
      <div class="fieldsIcon">
        <span class="material-symbols-outlined"> key </span>
      </div>
      <input
        id="password-builder"
        placeholder="Password"
        type="password"
        formControlName="password"
      />
      <div
        class="errorMessage"
        *ngIf="
          profileForm?.get('password')?.invalid &&
          (profileForm?.get('password')?.dirty ||
            profileForm?.get('password')?.touched)
        "
      >
        <span class="material-symbols-outlined errorIcon"> warning </span>
        {{ invalidPassword }}
      </div>
    </div>

    <div class="button">
      <button
        type="submit"
        [disabled]="!profileForm.valid"
        [ngClass]="{ disabled: !profileForm.valid }"
      >
        <span class="material-symbols-outlined signIn"> login </span>Sign In
      </button>
    </div>
  </form>
  <div *ngIf="profileFormData?.firstName">
    <p>First Name : {{ profileFormData.firstName }}</p>
    <p>Last Name : {{ profileFormData.lastName }}</p>
    <p>email : {{ profileFormData.email }}</p>
  </div>
</div>
